<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #EE82EE;">
  <a class="navbar-brand" style="color: white;">
    <img src="../../assets/images/admin.png" width="30" height="30" alt="">
    ADMIN PORTAL
  </a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" style="color: white; cursor: pointer;" [hidden]="!service._isLoggedIn()">View Book List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" style="color: white; cursor: pointer;" [hidden]="!service._isLoggedIn()" [routerLink]="['addBook']">Add a Book</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" style="color: white; cursor: pointer;" [hidden]="!service._isLoggedIn()" (click)="onLogout()">
          <img src="../../assets/images/ec716706af423f7683c7d3e584365171.svg" width="30" height="30" alt="">
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>

